<div fxShow.xs="false" fxFlex fxLayout="row" fxLayoutAlign="center center">
  <nav  mat-tab-nav-bar >
    <a mat-tab-link
       *ngFor="let link of navigation"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
</div>
