<div  fxLayout="row" fxLayoutAlign="center start">
  <div class="penzion-app" fxFlex="80" fxFlex.xs="100" fxFlex.sm="100">
    <mat-sidenav-container>

      <mat-sidenav #sidenav>
        <app-sidenav-list (closeSideNavigation)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <app-header (SideNavigationToggle)="sidenav.toggle()"></app-header>
        <app-navtabs></app-navtabs>
        <app-carousel></app-carousel>
        <!--<app-booking-panel></app-booking-panel>-->
        <main>
          <div class="content">
            <router-outlet></router-outlet>
          </div>
          <app-footer></app-footer>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>