<section class="accomodation-section" fxLayoutAlign="center center">
    <div class="mat-body accomodation"
       fxLayout="column"
       fxFlex="88"
       fxFlex.md="88"
       fxFlex.sm="100"
       fxFlex.xs="100"
       fxLayoutAlign="center">

        <mat-card class="title">
          <mat-card-header fxFlex="30" fxFlex.xs="50">
            <mat-card-title>Ubytování</mat-card-title>
            <span class="card-title-block"></span>
          </mat-card-header>
        </mat-card>

        <div class="room-info" fxFlex="100"  fxLayout="column" fxLayoutAlign="center center">
          <div class="info" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon>info</mat-icon>
            <p>Ubytování ve dvou dvoulůžkových pokojích a dvou 2+2 pokojích</p>
          </div>
        </div>

        <div class="rooms"
             fxLayout="row"
             fxLayout.sm="row"
             fxLayout.xs="column"
             fxLayoutAlign="space-evenly center">

        <div   fxLayout="row wrap"
               fxLayout.lt-sm="column"
               fxLayoutAlign="space-around center">

          <ng-container *ngFor="let room of rooms">

            <mat-card  class="room" fxFlex="0 1 calc(35%)"
                       fxFlex.lt-md="0 1 calc(35%)"
                       fxFlex.lt-sm="90%">
              <mat-card-header>
                <mat-card-title>{{room.name}}</mat-card-title>
                <span class="card-title-block"></span>
              </mat-card-header>
              <img mat-card-image src="../../../assets/images/room-{{room.id}}.jpg" alt="Třenoňský penzion">
              <mat-card-content>

              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button class="card-button" routerLink="/room/{{room.id}}"><span>prohlédnout pokoj</span></button>
              </mat-card-actions>

            </mat-card>
          </ng-container>
        </div>
        </div>


    </div>
</section>

<div class="kitchenette mat-body" fxLayout="row" fxLayout.xs="column">
    <div class="kitchenette-info" fxFlex="50" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon>fastfood</mat-icon>
            <p>K dispozici je i plně vybavená kuchyňka.</p>
        </div>

    </div>
    <div class="kitchenette-carousel" fxFlex="50" fxFill>
        <app-kitchenette-carousel></app-kitchenette-carousel>
    </div>
</div>

<div class="wifi mat-body" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>wifi</mat-icon>
    <p>V celém penzionu je poskytováno vysokorychlostní wi-fi připojení.</p>
</div>