.accomodation-section {
    padding: 32px 0;
}

.accomodation {
    padding: 32px 0;
}

mat-card {
    padding: 0;
    margin: 32px;
}

mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none!important;
    margin-bottom: 35px;
}

mat-card-title {
    font-size: 1.3em!important;
    margin-bottom: 8px!important;
}

.mat-card-header {
    border-bottom: #e8e8e8 1px solid;
    margin: 0 0 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

::ng-deep .mat-card-header-text {
    margin: 0!important;
}

.mat-card-image {
    margin: 0;
    width: 100%;;
}

.card-title-block {
    width: 50px;
    height: 3px;
    display: block;
    position: absolute;
    top: 28px;
    background-color: #8CCBC5;
}

a {
  text-decoration: none;
  color: black;
}

button {
    /*width: 100px;*/
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 8px!important;
    width: 50%;
    min-width: 140px;
    padding: 0 8px;
}

.mat-icon {
    padding: 10px 10px 10px 10px;
    width: 32px;
    height: 32px;
}

.info {
    padding: 20px 20px 40px;
}

.mb {
  margin-bottom: 0;
}

.mb4 {
  margin-bottom: 4px;
}

::ng-deep ngx-slick-carousel {
    margin: 0!important;
}

.kitchenette-info {
    background-color: #8CCBC5;
}

.wifi {
    padding: 48px;
}