<section class="contact-section" fxLayoutAlign="center center">
  <div class="mat-body contact" fxLayout="column" fxLayoutAlign="center"
       fxFlex="88" fxFlex.sm="100" fxFlex.xs="100">

    <mat-card>
      <mat-card-header fxFlex="30" fxFlex.xs="50">
        <mat-card-title>Kontaktní formulář</mat-card-title>
        <span class="card-title-block"></span>
      </mat-card-header>
    </mat-card>

    <div class="contact-container"
         fxLayout="row"
         fxLayout.sm="column"
         fxLayout.xs="column">

      <mat-card  class="contact-main" fxFlex="60" >

        <mat-card-content>
          <div>

            <form [formGroup]="contactForm" (submit)="submit()">

              <div class="form-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">

                <mat-form-field fxFlex="45" fxFlex.xs="100" [ngClass]="routeAnimationsElements">
                  <input matInput formControlName="name" name="name" [(ngModel)]="contact.name" placeholder="Jméno" required>
                  <ng-template ngFor let-error [ngForOf]="errorName" ngProjectAs="mat-error">
                    <mat-error *ngIf="contactForm.controls.name.hasError(error.type)" [innerHTML]="error.msg">
                    </mat-error>
                  </ng-template>
                </mat-form-field>

                <mat-form-field fxFlex="45" fxFlex.xs="100" [ngClass]="routeAnimationsElements">
                  <input  matInput formControlName="surname" name="surname" [(ngModel)]="contact.surname"  placeholder="Příjmení" required>
                  <ng-template ngFor let-error [ngForOf]="errorSurname" ngProjectAs="mat-error">
                    <mat-error *ngIf="contactForm.controls.surname.hasError(error.type)" [innerHTML]="error.msg">
                    </mat-error>
                  </ng-template>
                </mat-form-field>

              </div>

              <div class="form-item" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">

                <mat-form-field fxFlex="45" [ngClass]="routeAnimationsElements">
                  <input matInput formControlName="email" name="email" [(ngModel)]="contact.email" [formControl]="contactForm.controls.email" placeholder="E-mail" required>
                <ng-template ngFor let-error [ngForOf]="errorEmail" ngProjectAs="mat-error">
                  <mat-error *ngIf="contactForm.controls.email.hasError(error.type)" [innerHTML]="error.msg">
                  </mat-error>
                </ng-template>
                </mat-form-field>

                <mat-form-field fxFlex="45" [ngClass]="routeAnimationsElements">
                  <input  matInput formControlName="title" name="title" [(ngModel)]="contact.title" placeholder="Předmět" required>
                  <ng-template ngFor let-error [ngForOf]="errorTitle" ngProjectAs="mat-error">
                    <mat-error *ngIf="contactForm.controls.title.hasError(error.type)" [innerHTML]="error.msg">
                    </mat-error>
                  </ng-template>
                </mat-form-field>

              </div>

              <div fxLayout="row" fxLayoutAlign="space-between center">

                <mat-form-field fxFlex="100" [ngClass]="routeAnimationsElements">
                  <input matInput formControlName="phone" name="phone" [(ngModel)]="contact.phone" placeholder="Telefon" required>
                  <ng-template ngFor let-error [ngForOf]="errorPhone" ngProjectAs="mat-error">
                    <mat-error *ngIf="contactForm.controls.phone.hasError(error.type)" [innerHTML]="error.msg">
                    </mat-error>
                  </ng-template>
                </mat-form-field>

              </div>

              <div fxLayout="row" fxLayoutAlign="space-between center">

                <mat-form-field  fxFlex="100" [ngClass]="routeAnimationsElements">
                  <textarea class="text-area"  matInput #message maxlength="250" formControlName="message" name="message" [(ngModel)]="contact.message" placeholder="Vaše zpráva" ></textarea>
                  <mat-hint align="end">{{message.value.length}} / 250</mat-hint>
                  <mat-hint>minimální počet znaků / 25</mat-hint>
                  <ng-template ngFor let-error [ngForOf]="errorMessage" ngProjectAs="mat-error">
                    <mat-error *ngIf="contactForm.controls.message.hasError(error.type)" [innerHTML]="error.msg">
                    </mat-error>
                  </ng-template>
                </mat-form-field>

              </div>

              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-checkbox required formControlName="checkbox" class="mt">Souhlasím se zpracováním <a routerLink='/privacy-policy'>osobních údajů</a></mat-checkbox>
              </div>

              <button mat-raised-button color="primary" [disabled]="!contactForm.valid" [ngClass]="routeAnimationsElements">Odeslat</button>

            </form>

          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="contact-logo-container"  fxLayout="column" fxFlex="40" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="center center" >

        <div class="logo-container" fxFlex fxLayoutAlign=" center">
          <div class="logo-box"  fxLayout="column" fxLayoutAlign="center center">
            <div class="logo" fxLayoutAlign="center center">
              <img class="logo" src="../../../../assets/images/trebonsky-penzion-logo.png">
            </div>

            <div class="logo-title" fxLayoutAlign="center center" fxLayout="column">
              <h3><strong>Třeboňský penzion</strong></h3>
              <p>ubytování v soukromí</p>
            </div>
          </div>
        </div>
        <div class="logo-adress-container" fxFlex fxLayoutAlign="center ">
          <div class="logo-adress-box" fxLayoutAlign="center start" fxLayout="column">
            <div fxLayout="row">
              <div fxLayoutAlign="center center">
                <mat-icon>phone</mat-icon>
              </div>
              <div fxLayoutAlign="start center">
                <p class="mb6">+420 604 431 936</p>
              </div>
            </div>

            <div fxLayout="row">
              <div fxLayoutAlign="center center">
                <mat-icon>mail</mat-icon>
              </div>
              <div fxLayoutAlign="start center">
                <p class="mb4"><a href="mailto: trebonsky@penzion.cz">info@trebonsky-penzion.cz</a></p>
              </div>
            </div>

            <div fxLayout="row">
              <div fxLayoutAlign="center center">
                <mat-icon>location_on</mat-icon>
              </div>
              <div fxLayout="column" fxLayoutAlign="center start">
                <p class="mb">Dukelská 194</p>
                <p class="mb">379 01 Třeboň</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</section>
