<div class="hero-booking-panel" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="88" fxFlex.sm="100" fxFlex.xs="100">
    <form [formGroup]="form" (submit)="submit()" class="booking-panel">
      <div class="grid-row">

        <div class="grid-item" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field [ngStyle.xs]="{'max-width.px': 300}"
                          [ngStyle.sm]="{'max-width.px': 120}"
                          [ngStyle.md]="{'max-width.px': 95}"
                          [ngStyle.lg]="{'max-width.px': 165}"
                          [ngStyle.xl]="{'max-width.px': 200}"
          >
            <input matInput formControlName="checkIn" [matDatepicker]="checkin" placeholder="Příjezd"  required>
            <mat-datepicker-toggle matSuffix [for]="checkin"></mat-datepicker-toggle>
            <mat-datepicker #checkin></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="grid-item" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field [ngStyle.xs]="{'max-width.px': 300}"
                          [ngStyle.sm]="{'max-width.px': 120}"
                          [ngStyle.md]="{'max-width.px': 100}"
                          [ngStyle.lg]="{'max-width.px': 165}"
                          [ngStyle.xl]="{'max-width.px': 200}"
          >
            <input matInput formControlName="checkOut" [matDatepicker]="checkout" placeholder="Odjezd" required>
            <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
            <mat-datepicker #checkout></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="grid-item" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field [ngStyle.xs]="{'max-width.px': 300}"
                          [ngStyle.sm]="{'max-width.px': 120}"
                          [ngStyle.md]="{'max-width.px': 100}"
                          [ngStyle.lg]="{'max-width.px': 165}"
                          [ngStyle.xl]="{'max-width.px': 200}"
          >
            <mat-select class="form-control" formControlName="adults" type="text" placeholder="Dospělý" required>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="grid-item" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field [ngStyle.xs]="{'max-width.px': 300}"
                          [ngStyle.sm]="{'max-width.px': 120}"
                          [ngStyle.md]="{'max-width.px': 100}"
                          [ngStyle.lg]="{'max-width.px': 165}"
                          [ngStyle.xl]="{'max-width.px': 200}"

          >
            <mat-select class="form-control" formControlName="children" type="text" placeholder="Dítě">
              <mat-option value="0">0</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="grid-item btn" fxLayout="row" fxLayoutAlign="center center"
             [ngStyle.xs]="{'max-width.px': 300}"
             [ngStyle.sm]="{'min-width.px': 120}"
             [ngStyle.md]="{'max-width.px': 100}"
             [ngStyle.lg]="{'max-width.px': 165}"
             [ngStyle.xl]="{'max-width.px': 200}"
        >
          <button mat-raised-button color="warn" [disabled]="!form.valid" >Ověřit</button>
        </div>

      </div>
    </form>
  </mat-card>
</div>
