mat-card {
  padding: 0;
  margin: 0;
  top: -35px;
  min-width: 82px ;
  background-origin:border-box;
}

button {
  margin: 0;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 8px 0;
}

.hero-booking-panel {
  background-color: white;
}

@media(max-width: 1440px) {

  mat-card {
    /*background-color: rgb(215, 170, 8);*/
  }

}

@media(max-width: 1280px) {

  mat-card {
    /*background-color: #0fc414;*/
  }

}

@media(max-width: 959px) {
  mat-card {
    top: 0;
    /*background-color: #3467b5;*/
  }


}

@media(max-width: 660px) {

  button{
    margin: 0 16px 16px 16px;
  }

  .mat-form-field , button {
    min-width: 220px;
    max-width: 250px;
  }

  .mat-form-field {
    margin-left: 8px ;
    margin-right: 8px;
  }

  mat-card {
    /*background-color: #f328b0;*/
    /*margin-top: 16px;*/
  }

}

