*{
  min-height: 0;
  min-width: 0;
}

.room-section {
  padding: 32px 0;
}

.room {
  padding: 32px 0;
}

.room-main {
   padding-right: 6%;
}

.room-form-card {
    border-left: #e8e8e8 1px solid;
    padding-left: 6% ;
}

.room-properties {
  padding: 32px 0;
    text-align: center;
}

.room-facilities {
  padding: 32px 0 48px;
}

.room-facilities-title {
  font-size: 18px;
}
/*--------------------------------------*/
.room-offer {

    text-align: center;
    margin: 10px 0 40px 0;
    border: #8ccbc5 2px solid;
}

.room-offer-from {
    margin: -18px auto 0 auto;
    background-color: white;
    padding: 8px;
}

.room-offer-price {
    font-size: 36px;
    margin: 15px 0 15px 0;
    padding: 0 32px;
}

.room-offer-per-night {
    margin: 0 auto -18px auto;

    background-color: white;
    padding: 8px;
}

.room-offer-capacity {
  font-size: 18px;
  padding: 24px 0 16px;
}

/*----------------------------------------------*/





mat-card {
  padding: 0;
}

mat-card-title {
  font-size: 1.3em!important;
  margin-bottom: 8px!important;
}

a {
  text-decoration: none;
  color: black;
}

.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none;
}

.mat-card-header {
  border-bottom: #e8e8e8 1px solid;
  margin: 0 0 30px 0!important;
  background-repeat: no-repeat;
  background-size: cover;
}
::ng-deep .mat-card-header-text {
  margin: 0!important;
}

.card-title-block {
  width: 50px;
  height: 3px;
  display: block;
  position: absolute;
  top: 28px;
  background-color: #8CCBC5;
}

button {
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  min-width: 100px;
  padding: 0 8px;

}
.form-button-container {
    padding: 16px;
}
.form-button {
    min-width: 140px;
}

.mat-icon {
  padding: 10px;
  width: 32px;
  height: 32px;
  font-size: 32px;
}
::ng-deep .slick-dots {
  bottom: 10px!important;
}


@media(max-width: 959px) {
    .room-main, .room-title {
        padding-left: 6%;
    }
}

@media(max-width: 599px) {
    .room-form-card {
        margin-top: 64px;
        border-top: #e8e8e8 1px solid;
        padding-top: 64px;
    }
}
@media(max-width: 399px) {
    .mat-icon {
        padding: 10px;
        width: 22px;
        height: 22px;
        font-size: 22px;
    }
    span, p {
        font-size: 12px;
    }
}
