<section class="room-section" fxLayoutAlign="center center">
    <div class="mat-body room" fxLayout="column" fxLayoutAlign="center"
         fxFlex="88" fxFlex.sm="100" fxFlex.xs="100">
        <div *ngIf="room">
            <mat-card class="room-title">
                <mat-card-header fxFlex="30" fxFlex.xs="50">
                    <mat-card-title>{{room.name}}</mat-card-title>
                    <span class="card-title-block"></span>
                </mat-card-header>
            </mat-card>

            <div class="room-container"
                 fxLayout="row"
                 fxLayout.sm="row"
                 fxLayout.xs="column">

                <mat-card  class="room-main" fxFlex="60" fxFlex.sm="100">
                    <mat-card-content>
                        <ngx-slick-carousel class="carousel"
                                            #slickModal="slick-carousel"
                                            [config]="slideConfig"
                        >
                            <div ngxSlickItem *ngFor="let slide of room.room_images" class="slide">

                                <img src="{{ slide.path }}" alt="" width="100%">
                            </div>
                        </ngx-slick-carousel>
                        <div class="room-properties" fxLayout="row" fxLayoutAlign="space-around start">
                            <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
                                <mat-icon>hotel</mat-icon><p>{{room.description}}</p>
                            </div>
                            <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
                                <mat-icon>zoom_out_map</mat-icon><p>Velikost pokoje {{room.surface}} m<sup>2</sup>.</p>
                            </div>
                        </div>
                        <div class="room-facilities-title" fxLayoutAlign="center center">
                            <p>Vybavení pokoje</p>
                        </div>
                        <div class="room-facilities" fxLayout="row" fxLayoutAlign="space-around start">
                            <div fxLayout="column" fxLayoutAlign="center center"><mat-icon>invert_colors</mat-icon><span>Koupelna</span></div>
                            <div fxLayout="column" fxLayoutAlign="center center"><mat-icon>wifi</mat-icon><span>WiFi Free</span></div>
                            <div fxLayout="column" fxLayoutAlign="center center"><mat-icon>local_parking</mat-icon><span>{{room.parking}},- / noc</span></div>
                            <div fxLayout="column" fxLayoutAlign="center center"><mat-icon>smoke_free</mat-icon><span>Nekuřácký pokoj</span></div>
                        </div>
                    </mat-card-content>
                    <button  mat-raised-button (click)="goBack()">zpět</button>
                </mat-card>

                <mat-card class="room-form-card" fxLayout="column" fxFlex="40"  fxFlex.sm="100" fxLayoutAlign="start center">

                    <div class="room-offer" fxLayout="column" fxLayoutAlign="center center">
                        <span class="room-offer-from">Pokoj od</span>
                        <span class="room-offer-price">{{room.price}}Kč</span>
                        <span class="room-offer-per-night">za noc</span>
                    </div>

                    <div class="room-capacity" fxLayout="column" fxLayoutAlign="center center">
                            <span class="room-offer-capacity">Kapacita</span>
                            <div fxLayout="row">
                                <ng-container *ngFor="let i of [].constructor(room.capacity)">
                                    <mat-icon>person</mat-icon>
                                </ng-container>
                            </div>
                        </div>






                        <form [formGroup]="roomForm" (submit)="submit()">

                            <div class="room-form" fxLayout="column" fxLayoutAlign="center">

                                    <mat-form-field fxFlex="100" [ngClass]="routeAnimationsElements">
                                    <input matInput formControlName="checkIn" [matDatepicker]="checkin" placeholder="Příjezd"  required>
                                    <mat-datepicker-toggle matSuffix [for]="checkin"></mat-datepicker-toggle>
                                    <mat-datepicker #checkin></mat-datepicker>
                                </mat-form-field>

                                    <mat-form-field fxFlex="100" [ngClass]="routeAnimationsElements">
                                    <input matInput formControlName="checkOut" [matDatepicker]="checkout" placeholder="Odjezd" required>
                                    <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
                                    <mat-datepicker #checkout></mat-datepicker>
                                </mat-form-field>

                                    <mat-form-field fxFlex="100" [ngClass]="routeAnimationsElements">
                                    <mat-select class="form-control" formControlName="adults" type="text" placeholder="Dospělý" required>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                    <mat-form-field  [ngClass]="routeAnimationsElements">
                                    <mat-select class="form-control" formControlName="children" type="text" placeholder="Dítě">
                                        <mat-option value="0">0</mat-option>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="2">2</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div class="form-button-container" fxLayoutAlign="center">
                                <button class="form-button"
                                        fxFlex="80"
                                        mat-raised-button
                                        color="warn"
                                        [disabled]="!roomForm.valid"
                                        [ngClass]="routeAnimationsElements"
                                >
                                    Ověřit dostupnost
                                </button>
                            </div>
                        </form>

                </mat-card>
            </div>

        </div>
    </div>
</section>