::ng-deep .slick-dots {
    bottom: 10px!important;
}

/*::ng-deep .slick-next {*/
    /*right: -35px;*/
    /*z-index: 3;*/
/*}*/
/*::ng-deep .slick-prev {*/
    /*left: -35px;*/
    /*z-index: 3;*/
/*}*/
*{
    min-height: 0;
    min-width: 0;
}