<div class="footer mat-body" fxLayout="row"  fxLayoutAlign="space-between center">

  <div class="footer-copy" fxFlex="25" fxFlex.xs="40" fxLayoutAlign="start center">
    <span>© Copyright 2019</span>
  </div>

  <div class="footer-nav" fxFlex="75" fxFlex.xs="40" fxLayoutAlign="end center" fxLayoutAlign.xs="start start" [ngStyle]>

    <ul fxLayout="row" fxLayout.xs="column">

      <a mat-list-item
         *ngFor="let item of navigation"
         [routerLink]="[item.link]"
         routerLinkActive="active">
        <mat-icon fxShow.gt-xs="false">{{item.icon}}</mat-icon>
        {{item.label}}

      </a>

    </ul>

