.footer {
  padding: 16px 32px;
  background-color:#8CCBC5 ;
}

.footer-copy {
  min-height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 8px 0;
}

a {
  color: black;
  text-decoration: none;
  padding: 4px;
  /*word-wrap: unset;*/
}
.mat-icon  {
  height: 12px;
  width: 12px;
  padding: 0 8px;
}

.material-icons {
  font-size: 12px;
}

@media(max-width: 599px) {

  .footer {
    min-height: 120px;
  }
  li {
    padding: 3px;
  }
}

@media(max-width: 400px) {
  .footer {
    font-size: 13px;
  }
}
