<section class="booking-section">
  <aw-wizard>

  <aw-wizard-step stepTitle="Výběr termínu ubytování">

    <div fxLayout="row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">

      <mat-card fxFlex="35" class="booking-site">

        <mat-card-header>
          <div fxFlex="90" class="example-header-image">
            <mat-card-title>Vaše rezervace</mat-card-title>
          </div>
        </mat-card-header>


        <mat-card-content>

          <form [formGroup]="form" (submit)="submit()">

            <div class="form-item" fxLayout="row" fxLayoutAlign="space-between">

              <mat-form-field fxFlex="45">
                  <input matInput formControlName="checkIn" [matDatepicker]="checkin" placeholder="Příjezd"  required>
                  <mat-datepicker-toggle matSuffix [for]="checkin"></mat-datepicker-toggle>
                  <mat-datepicker #checkin></mat-datepicker>
                </mat-form-field>

              <mat-form-field fxFlex="45">
                  <input matInput formControlName="checkOut" [matDatepicker]="checkout" placeholder="Odjezd" required>
                  <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
                  <mat-datepicker #checkout></mat-datepicker>
                </mat-form-field>

            </div>

            <div  class="form-item" fxLayout="row" fxLayoutAlign="space-between">
              <mat-form-field fxFlex="45">
                <mat-select fxFlex="100" class="form-control" formControlName="roomsCount" type="text" placeholder="Počet pokojů" required>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxLayoutAlign="center" formArrayName="rooms">
              <div fxLayout="column">
                <div class="" *ngFor="let room of roomsFormGroup.controls; let roomIndex=index;" [formGroupName]="roomIndex">

                  <div fxLayoutAlign="center">

                    <div class="border-divider" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="70">

                      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="23">
                        <p>Pokoj {{roomIndex + 1}}</p>
                      </div>

                      <mat-form-field fxFlex="33" fxFlex.xs="100">
                        <mat-select class="form-control" formControlName="adults" type="text" placeholder="Dospělý" required>
                          <mat-option value="1">1</mat-option>
                          <mat-option value="2">2</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field fxFlex="33" fxFlex.xs="100">
                        <mat-select class="form-control" formControlName="children" type="text" placeholder="Dítě">
                          <mat-option value="0">0</mat-option>
                          <mat-option value="1">1</mat-option>
                          <mat-option value="2">2</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>

                  </div>
                </div>
              </div>
            </div>


            <button mat-button color="primthis.formary" [disabled]="!form.valid" awNextStep>Ověřte dostupnost</button>

          </form>




        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="55" class="booking-main">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Vyberte prosím z kalendáře požadovaný termín</mat-card-title>
        </mat-card-header>
        <h2>this.form.value | json</h2>
        <div>{{ this.form.value | json }}</div>
        <h2>this.form.controls['rooms'].value | json</h2>
        <div>{{ this.form.controls['rooms'].value | json }}</div>
      </mat-card>

    </div>
  </aw-wizard-step>

  <aw-wizard-step stepTitle="Vyberte pokoj">
    <div fxLayout="row" fxLayoutAlign="space-around start">

      <mat-card fxFlex="30" class="booking-site">
        <mat-card-header>
          <div fxFlex="90">
            <mat-card-title>Vaše rezervace</mat-card-title>
          </div>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="form" (editForm)="editForm()">
            <div class="check" fxLayout="column" fxLayoutAlign="space-around start">

              <div class="border-divider"  fxLayout="row">
               <p>Příjezd: </p><p> {{ form.controls['checkIn'].value | date:'EEEE dd/MM/yyyy'}}</p>
              </div>


              <div class="border-divider"  fxLayout="row">
                <p>Odjezd:</p><p> {{ form.controls['checkOut'].value | date:'EEEE dd/MM/yyyy'}}</p>
              </div>


              <div class="border-divider"  fxLayout="row">
                <p>Hosté: </p>
                <!--<p>Dospělí:</p>{{ this.heroBookingPanelForm.controls['adults'].value  }}-->
                <!--<p>Děti:</p>{{ heroBookingPanelForm.controls['children'].value }}-->

              </div>

            </div>

            <button mat-button color="primary" [disabled]="!form.valid">Editovat rezervaci</button>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card fxLayoutAlign="center" fxFlex="60" class="booking-main">

        <mat-card-header>
          <mat-card-title>
            Vyberte pokoj
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>


          <form [formGroup]="form" (submit)="submit()">

            <div class="card">

              <div >

                <div fxLayout="column">

                  <!--<div *ngFor="let room of roomsFormGroup.controls; let i = index;">-->
                  <!--<div *ngFor="let room of rooms; let i = index;">-->

                    <!--<div >-->

                      <!--<h5><a href="">Pokoj č.{{i +1}}</a></h5>-->

                      <!--<div fxLayout="row" fxLayoutAlign="space-between center">-->

                        <!--<div>-->
                          <!--<a href=""><img class=room-image src="../../../assets/images//{{room.image}}" alt=""></a>-->
                        <!--</div>-->

                        <!--<div>-->
                          <!--<div class="">-->
                            <!--<p class="capacity"><span>Kapacita:</span>{{room.capacity}}Osoby</p>-->
                          <!--</div>-->

                          <!--<div >-->
                            <!--<p class="price">Od: <span>{{room.price}}</span> / Noc </p>-->
                          <!--</div>-->

                          <!--<button mat-button color="primary" >Vybrat Pokoj</button>-->

                        <!--</div>-->

                      <!--</div>-->

                    <!--</div>-->

                  <!--</div>-->

                </div>

              </div>

            </div>

          </form>

        </mat-card-content>

      </mat-card>

    </div>

  </aw-wizard-step>

  <aw-wizard-step stepTitle="Uložit rezervaci">
    <div class="booking-main">

      <!-- BEGIN .booking-errors -->
      <noscript>
        <div class="dark-notice booking-form-notice-2">
          Povolte prosím Javascript ve Vašem prohlížeči, pro optimální zobrazení			</div>
      </noscript>
      <!-- END .booking-errors -->

      <div class="dark-notice booking-form-notice"></div>

      <h4 class="title-style4">Karta zákazníka<span class="title-block"></span></h4>

      <form>
        <!--<div class="input-field ">-->
          <!--<label for="guest_first_name">Jméno *</label>-->
          <!--<input type="text" name="guest_first_name" id="guest_first_name" value="">-->
        <!--</div>-->
        <!--<div class="input-field last-col">-->
          <!--<label for="guest_last_name">Příjmení *</label>-->
          <!--<input type="text" name="guest_last_name" id="guest_last_name" value="">-->
        <!--</div>-->
        <!--<div class="input-field ">-->
          <!--<label for="guest_email">Emailová adresa *</label>-->
          <!--<input type="text" name="guest_email" id="guest_email" value="">-->
        <!--</div>-->
        <!--<div class="input-field last-col">-->
          <!--<label for="guest_details_phone">Telefoní číslo *</label>-->
          <!--<input type="text" name="guest_details_phone" id="guest_details_phone" value="" data-required="1">-->
        <!--</div>-->
        <!--<div class="input-field ">-->
          <!--<label for="guest_details_address_1">Adresa *</label>-->
          <!--<input type="text" name="guest_details_address_1" id="guest_details_address_1" value="" data-required="1">-->
        <!--</div>-->
        <!--<div class="input-field last-col">-->
          <!--<label for="guest_details_city">Město *</label>-->
          <!--<input type="text" name="guest_details_city" id="guest_details_city" value="" data-required="1">-->
        <!--</div>-->
        <!--<div class="input-field ">-->
          <!--<label for="guest_details_zip">Směrovací číslo *</label>-->
          <!--<input type="text" name="guest_details_zip" id="guest_details_zip" value="" data-required="1">-->
        <!--</div>-->
        <!--<div class="input-field last-col">-->
          <!--<label for="guest_details_country">Země *</label>-->
          <!--<input type="text" name="guest_details_country" id="guest_details_country" value="" data-required="1">-->
        <!--</div>-->
        <!--<div class="input-field-full-width clearboth">-->
          <!--<label for="guest_details_questservice">Požadované služby</label>-->
          <!--<textarea name="guest_details_questservice" id="guest_details_questservice" rows="10"></textarea>-->
        <!--</div>-->

        <!--<div class="clearboth input-fields-end"></div>-->


        <!--<input type="submit" class="submit" name="booking_step_3_submit" value="Rezervovat">-->

      </form>

      <!-- END .booking-main -->
    </div>
    <button type="button" awPreviousStep>Previous Step</button>
    <button type="button" awNextStep>Go to next step</button>
  </aw-wizard-step>

  <aw-wizard-step stepTitle="Potvrzení">
    Rezervace krok 4
    <button type="button" awPreviousStep>Previous Step</button>
    <!--<button type="button" (click)="finishFunction()">Finish</button>-->
    <button type="button">Finish</button>
  </aw-wizard-step>

</aw-wizard>
</section>
