.mat-divider {
  margin: 60px 0 20px 0;
}

.mat-form-field p {
  /*align-items: center;*/
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
}

p {
padding-right: 8px;
}

/*.border-divider {*/
  /*border-bottom:1px solid #ce2e2e;*/
/*}*/
.room-image {
  width: 250px;
}

mat-card-title {
  font-size: 1.3em!important;
  margin-bottom: 8px!important;
}
