mat-toolbar {
  height: 96px;
  min-width: 220px;
}

.grid-item {
  width: 33%;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 100px;
}

.header-contacts span {
  font-size: 16.26px;	letter-spacing: 0.25px;	line-height: 43px;

  font-weight: 400;
  padding-left: 8px;
}

.header-book-button {
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 16px;
}

.language {
  width: 40px;
  font-size: 14.26px;	letter-spacing: 0.25px;	line-height: 43px;
  font-weight: 400;
}
.ng-trigger.ng-trigger-transformPanel.ng-tns-c13-8.mat-select-panel.ng-star-inserted {
  min-width: 100%!important;
}

@media(max-width: 500px) {
  .grid-item {
    width: 50%;
  }
}

