<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">

  <div class="grid-row">

    <div class="grid-item" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button (click)="onToggleOpenSidenav()" fxLayoutAlign="center center">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="grid-item logo" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="end center">
      <img class="logo" src="../../../assets/images/trebonsky-penzion-logo.png">
    </div>

    <div class="grid-item" fxLayout="row" fxLayoutAlign="end center">

    </div>

  </div>
</mat-toolbar>
