<section class="privacy-policy-section" fxLayoutAlign="center center">
    <div class="mat-body privacy-policy" fxLayout="column" fxLayoutAlign="center"
         fxFlex="88" fxFlex.sm="100" fxFlex.xs="100">

        <mat-card>
            <mat-card-header fxFlex="30" fxFlex.xs="50">
                <mat-card-title>Prohlášení o zásadách ochrany osobních údajů</mat-card-title>
                <span class="card-title-block"></span>
            </mat-card-header>
        </mat-card>

        <div class="privacy-policy-container"
             fxLayout="row"
             fxLayout.sm="column"
             fxLayout.xs="column">

            <mat-card  class="privacy-policy-main" fxFlex="60" >

                <mat-card-content>
                    <div>
                        <div class="privacy-policy-block">
                            <p>
                                Ochrana vašich osobních údajů je pro nás velmi důležitá, a proto plně probíhá v souladu s Obecným nařízením o
                                ochraně
                                osobních údajů – Nařízením Evropského parlamentu a rady (EU) 2016/679 ze dne 27.4.2016. Obavy mít nemusíte.
                                Vaše údaje jsou u nás v bezpečí a nebudou nikdy poskytnuty třetí straně.
                            </p>
                        </div>
                        <div class="privacy-policy-block">
                            <div class="privacy-policy-block-title">
                                <h2>Rozsah zpracování osobních údajů</h2>
                            </div>
                            <p>
                                Vaše osobní údaje získáváme, pokud:
                            </p>

                            <ul>
                                <li>nás kontaktujete prostřednictvím webových stránek,</li>
                                <li>si objednáte službu na našich webových stránkách,</li>
                                <li>nám pošlete poptávku na naše služby,</li>
                                <li>s námi uzavřete smlouvu,</li>
                                <li>nám údaje sami poskytnete e-mailem, telefonicky nebo jiným způsobem.</li>
                            </ul>
                        </div>
                        <div class="privacy-policy-block">
                            <p>Zpracováváme tyto údaje:</p>
                            <ul>
                                <li>jméno a příjmení nebo obchodní firma,</li>
                                <li>telefonní číslo,</li>
                                <li>e-mailová adresa,</li>
                                <li>poštovní adresa,</li>
                                <li>veškeré další údaje, které napíšete do formulářů na těchto webových stránkách, nebo do e-mailů odeslaných na
                                    adresy uvedené na těchto stránkách,
                                </li>
                                <li>identifikace prohlížeče, operačního systému a další informace pro analýzu návštěvnosti,</li>
                                <li>cookies.</li>
                            </ul>
                        </div>
                        <div class="privacy-policy-block">
                            <div class="privacy-policy-block-title">
                                <h2>Kdo bude shromažďovat vaše osobní údaje?</h2>
                            </div>
                                <p>
                                    Vaše osobní údaje bude shromažďovat společnost Třeboňský Penzion, se sídlem Dukelská 194,
                                    379 01 Třeboň, IČO 123456789, DIČ CZ123456789 (dále jen „Správce“).
                                </p>

                                <p>
                                    Zpracování osobních údajů je prováděno Správcem, osobní údaje však pro Správce mohou zpracovávat i dodavatelé
                                    některých služeb uvnitř a vně EU, jako například dodavatelé cloudových, IT nebo webhostingových služeb. Případně
                                    další dodavatelé zpracovatelských softwarů, služeb a aplikací.
                                </p>
                        </div>
                        <div class="privacy-policy-block">
                            <div class="privacy-policy-block-title">
                                <h2>Účely zpracování a jejich právní základ</h2>
                            </div>
                            <h3>Plnění smlouvy</h3>

                            <p>
                                Údaje, které nám poskytujete, používáme k tomu, abychom vás kontaktovali zpět s odpovědí na vaše požadavky pro
                                účely plnění smlouvy, vyřízení vašich objednávek.
                            </p>

                            <p>
                                Veškeré osobní údaje jsou zpracovány zákonným a transparentním způsobem a jsou vyžadovány pouze přiměřené,
                                relevantní a nezbytné údaje ve vztahu k účelu zpracování.
                            </p>
                        </div>
                        <div class="privacy-policy-block">
                                <div class="privacy-policy-block-title">
                                    <h2>Jak mohu požádat o vymazaní nebo opravu mých osobních údajů?</h2>
                                </div>

                                <p>
                                    Můžete kdykoliv požádat o vymazání vašich údajů, my vaše data trvale smažeme nebo opravíme.
                                </p>
                            </div>
                        <div class="privacy-policy-block">
                            <div class="privacy-policy-block-title">
                                <h2>Jak dlouho budeme shromažďovat vaše osobní údaje?</h2>
                            </div>
                            <p>
                                Vaše osobní údaje budeme zpracovávat po dobu, po kterou vám budeme poskytovat naše služby či plnit vzájemnou
                                smlouvu
                                a poté po dobu 1 roku v případě oprávněného zájmu. Osobní údaje budeme bezpečně ukládat po dobu nezbytnou k
                                plnění
                                našich povinností podle platných právních předpisů.
                            </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="privacy-policy-logo-container"  fxLayout="column" fxFlex="40" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="center center" >

                <div class="logo-container" fxFlex fxLayoutAlign=" center">
                    <div class="logo-box"  fxLayout="column" fxLayoutAlign="center center">
                        <div class="logo" fxLayoutAlign="center center">
                            <img class="logo" src="../../../../assets/images/trebonsky-penzion-logo.png">
                        </div>

                        <div class="logo-title" fxLayoutAlign="center center" fxLayout="column">
                            <h3><strong>Třeboňský penzion</strong></h3>
                            <p>ubytování v soukromí</p>
                        </div>
                    </div>
                </div>
                <div class="logo-adress-container" fxFlex fxLayoutAlign="center ">
                    <div class="logo-adress-box" fxLayoutAlign="center start" fxLayout="column">
                        <div fxLayout="row">
                            <div fxLayoutAlign="center center">
                                <mat-icon>phone</mat-icon>
                            </div>
                            <div fxLayoutAlign="start center">
                                <p class="mb6">+420 604 431 936</p>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div fxLayoutAlign="center center">
                                <mat-icon>mail</mat-icon>
                            </div>
                            <div fxLayoutAlign="start center">
                                <p class="mb4"><a href="mailto: trebonsky@penzion.cz">info@trebonsky-penzion.cz</a></p>
                            </div>
                        </div>

                        <div fxLayout="row">
                            <div fxLayoutAlign="center center">
                                <mat-icon>location_on</mat-icon>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="center start">
                                <p class="mb">Dukelská 194</p>
                                <p class="mb">379 01 Třeboň</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</section>

