.privacy-policy-section {
    padding: 32px 0;
}

.privacy-policy {
    padding: 32px 0;
}
mat-card {
    padding: 0;
}

mat-card-title {
    font-size: 1.3em!important;
    margin-bottom: 8px!important;
}

a {
//text-decoration: none;
    color: black;
}

.mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;
}

.mat-card-header {
    border-bottom: #e8e8e8 1px solid;
    margin: 0 0 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
::ng-deep .mat-card-header-text {
    margin: 0!important;
}

.card-title-block {
    width: 50px;
    height: 3px;
    display: block;
    position: absolute;
    top: 48px;
    background-color: #8CCBC5;
}

.privacy-policy {
    padding: 20px 0;
}

.privacy-policy-container {
    padding: 32px 0;
}

.privacy-policy-main {
    border-right: #e8e8e8 1px solid;
    padding-right: 7%;
}

.privacy-policy-block {
    padding: 32px 0;
}

.privacy-policy-block-title {
    padding-bottom: 32px;
}

.privacy-policy-info {
    padding-top: 25px;
}

.privacy-policy-logo-container {
    padding-left: 7%;
}

.mb {
    margin-bottom: 0;
}
.mt {
    margin-top: 16px;
}
.mb4 {
    margin-bottom: 4px;
}
button {
    margin-top: 16px;
}

.mat-icon {
    padding: 10px 40px 10px 10px;
    width: 32px;
    height: 32px;
}
.logo-title h3 {
    padding: 16px 0 0 0;
    margin: 0;
}

.logo-adress {
    padding: 16px;
}

.logo-adress-box {
    padding: 20px;
}
.logo-adress-container {
    flex: none!important;
}
.logo-container {
    flex: none!important;
}
.text-area {
    height: 70px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
    background-color: #8ccbc5 !important;
}

@media(max-width: 959px) {
    .privacy-policy-main {
        padding: 0;
        border-right: none;
    }

    .privacy-policy-container {
        align-items: center;
        flex: none!important;
        display: initial!important;
    }

    .privacy-policy-logo-container {
        padding: 32px 0;
        justify-content: space-evenly!important;
    }

    .privacy-policy-info p, mat-card {
        margin: 32px;
    }
}

@media(max-width: 599px) {
    .form-item {
        align-items: normal;
    }
}
