@import 'themes/penzion';


html {
  height: 100%;
  min-height: 320px;
}

body {
  height: 100%;
  margin: 0;
  background-color: rgb(245, 252, 255);
}

main[_ngcontent-c0] {
  padding: 0;
}

 section {
   background-color: rgb(255, 255, 255) !important;
 }
