<mat-nav-list class="sidenav-list">
  <a mat-list-item *ngFor="let item of navigation" [routerLink]="[item.link]"
     routerLinkActive="active"(click)="onToggleClose()"> <mat-icon>{{item.icon}}</mat-icon>
    {{item.label}}
  </a>
</mat-nav-list>
