<section class="home-section">

  <div class="" fxLayout.xs="column" fxLayoutWrap fxLayoutGap fxLayoutAlign="center">

    <mat-card fxFlex="30%" fxFlex.xs="90%">
      <mat-card-header>
        <mat-card-title>Ubytování</mat-card-title>
        <span class="card-title-block"></span>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/card-accomodation.jpg" alt="Třeboňský-penzion">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="card-button" routerLink="/accomodation">více informací</button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex="30%" fxFlex.xs="90%">
      <mat-card-header>
        <mat-card-title>Rezervace</mat-card-title>
        <span class="card-title-block"></span>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/card-lifestyle.jpg" alt="Třeboňský penzion">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="card-button" routerLink="/contact"><span>více informací</span></button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxFlex="30%" fxFlex.xs="90%">
      <mat-card-header>
        <mat-card-title>Kontakt</mat-card-title>
        <span class="card-title-block"></span>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/card-penzion.jpg" alt="Třeboňský penzion">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="card-button" routerLink="/contact">více informací</button>
      </mat-card-actions>
    </mat-card>

  </div>

</section>

