.home-section {
  padding: 32px 0;
}

mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none!important;
  margin: 32px 0;
}

mat-card-title {
  font-size: 1.3em!important;
  margin-bottom: 8px!important;
}

.mat-card-header {
  border-bottom: #e8e8e8 1px solid;
  margin: 0 0 30px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.mat-card-actions {
  padding-top: 16px;
}
::ng-deep .mat-card-header-text {
  margin: 0!important;
}

.mat-card-image {
  margin: 0;
  width: 100%;;
}
button {
  /*width: 100px;*/
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 8px!important;
  width: 50%;
  min-width: 120px;
  padding: 0 8px;

}

.card-title-block {
  width: 50px;
  height: 3px;
  display: block;
  position: absolute;
  top: 48px;
  background-color: #8CCBC5;
}


.card-penzion {
  background: url(../../../assets/images/card-penzion.jpg)center center no-repeat;
  background-size: cover;
}
.card-accomodation {
  background: url(../../../assets/images/card-accomodation.jpg)center center no-repeat;
  background-size: cover;
}
.card-around {
  background: url(../../../assets/images/card-lifestyle.jpg)center center no-repeat;
  background-size: cover;
}

