$penzion-black-primary: mat-palette($mat-grey, 700, 300, 900);
$penzion-black-accent: mat-palette($mat-blue-grey, 400);
$penzion-black-warn: mat-palette($mat-red, 500);

$penzion-black-theme: mat-dark-theme(
  $penzion-black-primary,
  $penzion-black-accent,
  $penzion-black-warn
);
