$penzion-primary: mat-palette($md-green, 800, 300, 900);
$penzion-accent: mat-palette($mat-light-blue);
$penzion-warn: mat-palette($mat-pink, 600);

$penzion-theme: mat-light-theme($penzion-primary, $penzion-accent, $penzion-warn);

