$penzion-light-primary: mat-palette($mat-grey, 200, 500, 300);
$penzion-light-accent: mat-palette($mat-brown, 200);
$penzion-light-warn: mat-palette($mat-deep-orange, 200);

$penzion-light-theme: mat-light-theme(
  $penzion-light-primary,
  $penzion-light-accent,
  $penzion-light-warn
);
