$penzion-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$penzion-nature-accent: mat-palette($mat-deep-purple, 300);
$penzion-nature-warn: mat-palette($mat-red, 600);

$penzion-nature-theme: mat-light-theme(
  $penzion-nature-primary,
  $penzion-nature-accent,
  $penzion-nature-warn
);
